@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Code Academy</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Code Academy</h2>
        <p>
        
        </p>
    </div>
    <div class="col-md-4"> 
    </div>
    <div class="col-md-4">
    </div>
</div>